.box {
	display: inline-block;
	width: 125px;
	height:125px;
	border: solid black .1px;
}


.container {
	width: 940px;
	margin: 0 auto;
}

.gray {
	background-color: #eeeeee
}

.title {
	font-weight: bolder;
	text-align: center;
	font-size: 2em;
}

