<header>	
	<div id="month">
	    <select id='getMonth' ng-model="monthModel" ng-change="init()">
	    <option value=''>--Select Month--</option>
	    <option selected value='January'>Janaury</option>
	    <option value='February'>February</option>
	    <option value='March'>March</option>
	    <option value='April'>April</option>
	    <option value='May'>May</option>
	    <option value='June'>June</option>
	    <option value='July'>July</option>
	    <option value='August'>August</option>
	    <option value='September'>September</option>
	    <option value='October'>October</option>
	    <option value='November'>November</option>
	    <option value='December'>December</option>
	    </select> 
	</div>

	<div id="year">
	    <select id='getYear' ng-model="yearModel" ng-change="init()">
	    <option value=''>--Select Year--</option>
	    <option selected value='2016'>2016</option>
	    <option value='2017'>2017</option>
	    <option value='2018'>2018</option>
	    <option value='2019'>2019</option>
	    <option value='2020'>2020</option>
	    <option value='2021'>2021</option>
	    <option value='2022'>2022</option>
	    <option value='2023'>2023</option>
	    <option value='2024'>2024</option>
	    <option value='2025'>2025</option>
	    <option value='2026'>2026</option>
	    <option value='2027'>2027</option>
	    </select> 
	</div>
</header>
<div class="container">
	<div class="box" ng-repeat="day in days" ng-class="{'gray': monthModel != range.days.date}" >
		{{day.day}}
	</div>
</div>