<header>	
	<div id="month">
	    <select id='getMonth' ng-model="monthModel" ng-change="init()" ng-options="month as month for month in months">
	    
	    </select> 
	</div>

	<div id="year">
	    <select id='getYear' ng-model="yearModel" ng-change="init()" ng-options="year as year for year in years">
	    
	   
	    </select> 
	</div>
</header>
<div class="container">
	<div class="title">{{monthModel}} {{yearModel}}
	</div>
	<div class="box" ng-repeat="day in days" ng-class="{gray: day.month != current}" >
		{{day.day}}
	</div>
</div>